*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

header{
    background:#1e3a8a;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    margin-top:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-size:18px;
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:linear-gradient(to right,#2563eb,#38bdf8);
    color:white;
}

.hero h2{
    font-size:45px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:25px;
}

button{
    padding:12px 25px;
    border:none;
    background:white;
    color:#2563eb;
    font-size:18px;
    border-radius:5px;
    cursor:pointer;
}

.courses{
    padding:50px 20px;
    text-align:center;
}

.course-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-top:30px;
}

.course-card{
    background:white;
    width:300px;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.course-card h3{
    margin-bottom:15px;
    color:#2563eb;
}

footer{
    background:#1e293b;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}