<footer class="site-footer">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-5">
                <h5><i class="fa-solid fa-graduation-cap me-2"></i>QuizCraft</h5>
                <p>Practice smarter with guided quizzes, rich analytics, and category-based preparation for modern learners.</p>
            </div>
            <div class="col-6 col-lg-2"><h6>Learn</h6><a href="{% url 'courses' %}">Courses</a><a href="{% url 'quiz_list' %}">Quizzes</a><a href="{% url 'dashboard' %}">Dashboard</a></div>
            <div class="col-6 col-lg-2"><h6>Support</h6><a href="#">Help Center</a><a href="#">Privacy</a><a href="#">Terms</a></div>
            <div class="col-lg-3"><h6>Social</h6><div class="socials"><a href="#"><i class="fa-brands fa-linkedin"></i></a><a href="#"><i class="fa-brands fa-x-twitter"></i></a><a href="#"><i class="fa-brands fa-youtube"></i></a><a href="#"><i class="fa-brands fa-github"></i></a></div></div>
        </div>
        <div class="footer-bottom">Copyright 2026 Online Quiz Application. Built for focused learning.</div>
    </div>
</footer>
